<!DOCTYPE html>
<html>
<body>



<h3>Addition</h3>
<form action="/add/">
  <label for="firstNumber">First Number:</label><br>
  <input type="number" id="firstNumber" name="firstNumber" placeholder="First Number" ><br><br>
  <label for="secondNumber">Second Number:</label><br>
  <input type="number" id="secondNumber" name="secondNumber" placeholder="Second Number"><br><br>
  <input type="submit" value="Calculate">
</form> 

<br>
<br>

<h3>Calculate BMI</h3>
<form action="/calcBMI/">
    <label for="weight">Weight:</label><br>
    <input type="text" id="weight" name="weight" placeholder="Weight(KGs)"><br><br>
    <label for="height">Height:</label><br>
    <input type="text" id="height" name="height" placeholder="Height(m)"><br><br>
    <input type="submit" value="Calculate BMI">
  </form> 


  <p>About Page:<a href='/about'>About Page</a></p>
  <p>Contact Page:<a href='/contact'>Contact</a></p>
  

</body>
</html>
